:root {
  --dark-blue: rgb(14, 56, 107);
  --blue: rgb(36, 135, 255);
  --light-blue: rgb(77, 204, 255);
  --dark-green: rgb(18, 62, 8);
  --green: rgb(106, 233, 77);
  --light-green: rgb(205, 249, 187);
  --test: rgb(115, 115, 115);
}

body {
  background-image: linear-gradient(45deg, rgb(152, 228, 255) 33%, rgb(214, 244, 255));
  /* background-color: rgb(214, 244, 255) */
}


/* .App {
  text-align: center;
} */
