:root {
  --dark-blue: rgb(14, 56, 107);
  --blue: rgb(36, 135, 255);
  --light-blue: rgb(77, 204, 255);
  --dark-green: rgb(18, 62, 8);
  --green: rgb(41, 227, 0);
  --light-green: rgb(150, 239, 116);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.start {
  color: var(--light-green);
}

.App-header {
  background-color: rgba(0, 0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--dark-blue);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
